body{

background-color:lightblue;
background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}

.picture3{
        float:;
        margin-left: 575px;
	margin-right: 0px;
}

.A{

  
 font-family: Century gothic;
 font-weight: bold;
 font-size: 27px;
 text-color:yellow;
    
}